<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://unpkg.com/htmx.org@1.9.8"
			integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
			crossorigin="anonymous"
		></script>
		<link href="/static/css/output.css" rel="stylesheet" />
		<link
			rel="icon"
			href="/static/stickers/grumpy_dog.png"
			sizes="64x64"
			type="image/png"
		/>
		<title>Pixil-AI</title>
	</head>
	<body
		class="font-mono md:text-lg font-semibold text-white bg-slate-950 select-none"
	>
		<header>
			<nav
				class="text-xs md:p-2 md:px-5 flex justify-between items-center md:text-lg border-b border-slate-900"
			>
				<div hx-get="/home-page" hx-trigger="load" hx-target="#container">
					<div
						class="flex items-center justify-center cursor-pointer"
						hx-get="/home-page"
						hx-trigger="click"
						hx-target="#container"
					>
						<img src="/static/stickers/grumpy_dog.png" alt="logo" width="70" />
						<p>Pixil-AI</p>
						<span class="text-xs bg-white text-black md:ml-2 px-1 rounded-md"
							>Beta</span
						>
						<p hx-post="/counter" hx-trigger="load" hx-target="#views">
							<span id="views"></span>
						</p>
					</div>
				</div>
				<div
					class="flex items-center justify-center gap-3 p-4 md:gap-0 flex-col md:flex-row"
					hx-get="/check_user"
					hx-trigger="load"
					hx-target="#auth"
				>
					<div id="auth"></div>
					<!-- <p
						class="md:px-4 hover:text-slate-200 cursor-pointer"
						hx-get="/image-form"
						hx-trigger="click"
						hx-target="#container"
					>
						Generate Image
					</p>
					<p
						class="md:px-4 hover:text-slate-200 cursor-pointer"
						hx-get="/sticker-form"
						hx-trigger="click"
						hx-target="#container"
					>
						Create Sticker
					</p> -->
				</div>
			</nav>
		</header>
		<div id="container" class="mt-14"></div>
		<p class="w-full bg-slate-400 text-center text-slate-950 text-sm p-1">
			©<a href="https://github.com/MhmoudGit">Mahmoud Ahmed</a>. All rigths
			reserved
		</p>
	</body>
</html>
