<div class="flex flex-col justify-center items-center gap-10 flex-wrap py-10">
	<!-- header -->
	<div
		class="flex flex-col gap-2 justify-center items-center text-center py-10"
	>
		<h1 class="text-4xl">Unleash Your Creativity with Pixil-AI</h1>
		<p class="text-base">Crafting Pixel Art and Stickers Like Never Before</p>
	</div>

	<!-- paragraph -->
	<div class="flex flex-col md:flex-row gap-10 w-full">
		<div class="w-full flex flex-col justify-start text-left p-10 gap-3 pb-10">
			<p>
				<span class="text-4xl font-bold">W</span>elcome to
				<span class="text-4xl font-bold">P</span>ixil-AI –---
			</p>
			<p>
				Your Ultimate Pixel Art and Sticker Creation SaaS! Are you ready to dive
				into the world of pixel art and stickers, where creativity knows no
				bounds?
			</p>
			<p>
				Unleash the power of artificial intelligence to revolutionize your pixel
				art and sticker creation process. ArtGen Pro combines cutting-edge GAN
				(Generative Adversarial Network) technology with a user-friendly
				interface, allowing you to craft pixel-perfect masterpieces effortlessly
			</p>
			<p>
				Whether you're a seasoned pixel artist or just starting your creative
				journey, our powerful SaaS platform is designed to cater to all skill
				levels.
			</p>
		</div>
		<div class="w-full flex flex-col justify-center items-center">
			<img
				src="/static//images/home1.gif"
				width="300"
				alt="Animated GIF"
				class="rounded-lg"
			/>
		</div>
	</div>

	<!-- showcase  -->

	<div
		class="container m-auto mb-24 flex min-h-screen max-w-screen-lg flex-col gap-16 px-4 py-8"
	>
		<h2
			class="text-4xl text-center"
			hx-get="/images"
			hx-trigger="load"
			hx-target="#showcase"
		>
			Showcase
		</h2>
		<ul
			id="showcase"
			class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4"
		></ul>
	</div>

	<div
		class="container m-auto mb-24 flex min-h-screen max-w-screen-lg flex-col gap-16 px-4 py-8"
	>
		<h2
			class="text-4xl text-center"
			hx-get="/stickers"
			hx-trigger="load"
			hx-target="#stickers"
		>
			Stickers
		</h2>
		<ul
			id="stickers"
			class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4"
		></ul>
	</div>
	<div
		class="container m-auto mb-24 flex max-w-screen-lg flex-col gap-16 px-4 py-8 justify-center items-center"
	>
		<p class="text-center">
			Are you ready to embark on an exciting journey of inspiration, innovation,
			and exclusive perks? Join our vibrant community and subscribe to our email
			list to become part of a creative revolution!
		</p>
		<form
			hx-post="/send_email"
			hx-trigger="submit"
			hx-target="#msg"
			class="p-4 flex flex-wrap gap-4 justify-center items-center px-10 border border-slate-400 rounded-md"
		>
			<label for="email">Email:</label>
			<input
				type="email"
				id="email"
				name="email"
				class="bg-slate-950 border-b outline-none focus:outline-none"
				required
			/>
			<button type="submit" class="bg-slate-400 p-2 text-slate-950 rounded-md">
				subscribe
			</button>
		</form>
		<span class="msg" id="msg"></span>
	</div>
</div>
